.star-rated, .star-half-rated {
  font-size: 14px;
  color: white;
  border-color: rgb(199, 11, 27);
  border-style: solid;
  background-color: rgb(199, 11, 27);
  border-radius: 5px;
  padding: 2px 2px 3px 2px;
  margin: 1px 1px 0 1px;
}

.star-unrated {
  font-size: 14px;
  color: white;
  border-color: rgb(193, 193, 193);
  border-style: solid;
  background-color: rgb(193, 193, 193);
  border-radius: 5px;
  padding: 1px 0 2px 0;
  margin: 1px 1px 0 1px;
}