main {
  margin-top: 68px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  color: #EEEEEE;
  text-decoration: underline;
}